/* Mine profile que fica a foto o nome e o status do usuario */

.miniProfileUser {
	display: flex;
	padding: 1rem;
}

.informationUser {
	display: flex;
	align-items: center;
	color: white;
}

.informationUser img {
	height: 8rem;
	width: 8rem;
	border-radius: 50%;
}


.statusPlayer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.statusBorder {
	background-color: rgb(245, 229, 229);
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	border-radius: 50%;
	position: relative;
}

.statusOnlineCenter {
	background-color: #64a338;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.statusOflineCenter {
	background-color: #792e2e;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

