html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box !important;
	overflow: hidden !important;
}

body p {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: '8bits';
	src: url('./assets/fonts/Mario-Kart-DS.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bitsSC';
	src: url('./assets/fonts/PixelOperatorSC-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.bg-custon-roxo {
	background-color: #0e0036 !important;
}

.remove-format-input {
	width: 100%;
	border: none;
	padding: 10px;
	background-color: transparent !important;
	outline: none !important;
	color: white;
}

.remove-format-button {
	background-color: transparent;
	border: none;
	color: white;
}

.hover:hover {
	background-color: #f2f2f2;
	cursor: pointer;
	color: #000;
}

.foto-list-friends {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	padding: 5px;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
	border-radius: 50%;
}

/* Mudança de cor quando você passa o mouse sobre a barra de rolagem */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
