.configurationsGame {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60rem;
	height: 34rem;
}


@keyframes animationEdit {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	50% {
		opacity: 0.5;
		transform: translateX(-10%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}

}
